@media screen and (max-width: 1023px){
    .small-screen-flex{
        display: flex
    }
    .main-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        padding: 50px;
        box-sizing: border-box;
    }
    .side-content{
        width: 100%;
        height: auto; 
        background-color: #F8F8F8;
        border-radius: 35px;
    }
    .main-content{
        width: 100%;
        height: auto;
    }
    
    .column-flow{
        display: flex;
        flex-direction: column;
    }
    
    .inside-margin{
        margin: 20px;
    }
    
    .align-items{
        justify-content: center;
        align-content: center;
    }
    
    .heading{
        font-size: 50px;
        font-weight: bold;
        font-family:  Georgia, serif;
    }
    
    .normal-font{
        font-size: 35px;
    }
    
    #pro-pic{
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    
    .margin-left{
        margin-left: 20px;
    }
    
    .buttom-margin{
        display: flex;
        margin-bottom: 75px;
    }
    
    .flex{
        display: flex;
    }
    
    .balance{
        font-size: 75px;
        font-weight: bold;
    }
    
    .bold{
        font-weight: bold;
    }
    
    .margin-right{
        margin-right: 30;
    }
    
    .button-style{
        background-color: rgb(35, 20, 238);
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        color: white;
    }
    .normal-font.button-style.buttom-margin{
        width: 80%;
        justify-content: center;
    }
    .line{
        margin-top: 20px;
        margin-bottom: 20px;
        border-width: 1px;
        border-style: solid;
    }
    
    #buttom-trans{
        margin-bottom: 40px;
    }
    
    #text-retirement{
        color: blue;
    }
    
    .contribution-div{
        width: 30px;
        height: 20px;
        border-radius: 10px;
    }
    
    #employer-div{
        background-color: rgb(16, 16, 110);
    }
    
    .light-weight{
        font-weight: 100;
    }
    
    #employee-div{
        background-color: rgb(88, 17, 201);
    }
    
    #intrest-div{
        background-color: rgb(53, 111, 199);
    }
    
    .column-flow.margin-right{
        flex: 1;
    }
    
    #graph{
        height: 500px;
        width: 100%;
        background-color: brown;
    }
    
    #peers-margin{
        margin-bottom: 20px;
    }
    
    
    #retirement-margin{
        margin-bottom: 20px;
    }
    
    .space-between{
        justify-content: space-between;
    }
    
    .margin-top{
        margin-top: 40px;
    }
    
    #update-button{
        border-radius: 30px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: white;
    }
    
    #navigation{
        position: fixed;
        bottom: 0px;
        height: 100px;
        width: 100%;
        background-color: white;
        padding: 10px;
    }   
    
    #nav-flex{
        /* align-content: space-between; */
        justify-content: space-around;
    }
    
    #home{
        width: 150;
        height: auto;
    }
    /* 
    .split{
        min-width: 600;
    } */
    
    .nav-button{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
    }
    
    .active{
        background-color: rgb(35, 20, 238);
    }
    
    .bar{
        margin-top: 20px;
        width: 80%;
    }
    
    .platform{
        width: 100%;
        display: flex;
    }
    .range-apart{
        display: flex;
        justify-content: space-between;
    }
    
    .relative{
        position: relative;
    }
    
    .absolute{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    /* #chartContainer{
        z-index: 100; */
    /* } */
    
    #chartContainer1{
        z-index: 200;
    }
    
    #chartContainer2{
        z-index: 300;
    }
    
    .pie-div{
        height: 300px;
        width: 300px;
    }
    
    .box {
        display: inline-block;
      }
    
      .align-center{
        display: flex;  
        justify-content: center;
      }
    
    
      /* body {
        background-color: #7E57C2
    } */
    
    .mt-100 {
        margin-top: 200px
    }
    
    .progress {
        width: 150px;
        height: 150px !important;
        float: left;
        line-height: 150px;
        background: none;
        margin: 20px;
        box-shadow: none;
        position: relative;
        z-index: -1 ;
    }
    
    .progress:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 12px solid #fff;
        position: absolute;
        top: 0;
        left: 0
    }
    
    .progress>span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1
    }
    
    .progress .progress-left {
        left: 0
    }
    
    .progress .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 12px;
        border-style: solid;
        position: absolute;
        top: 0
    }
    
    .progress .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left
    }
    
    .progress .progress-right {
        right: 0
    }
    
    .progress .progress-right .progress-bar {
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        animation: loading-1 1.8s linear forwards
    }
    
    .progress .progress-value {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        font-size: 24px;
        line-height: 135px;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 5%,
    }
    
    .progress.blue .progress-bar {
        border-color: #049dff;
    }
    
    .progress.blue .progress-left .progress-bar {
        animation: loading-2 1.5s linear forwards 1.8s
    }
    
    .progress.yellow .progress-bar {
        border-color: #049dff
    }
    
    .progress.yellow .progress-right .progress-bar {
        animation: loading-3 1.8s linear forwards
    }
    
    .progress.yellow .progress-left .progress-bar {
        animation: none
    }
    
    @keyframes loading-1 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
    
        100% {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg)
        }
    }
    
    @keyframes loading-2 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
    
        100% {
            -webkit-transform: rotate(144deg);
            transform: rotate(144deg)
        }
    }
    
    @keyframes loading-3 {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg)
        }
    
        100% {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg)
        }
    }
    
    .goals-container {
        flex-wrap: wrap;
    }
    
    .equi-div{
        flex: 1;
        flex-shrink: 0;
    }
    
    .goal-div {
        flex: 1;
        flex-basis: 100%;
        flex-shrink: 0;
    }
    
    .space-1-3{
        flex: 2;
    }
    
    .justify-center{
        align-items: center;
    }
    
    .lowest{
        z-index: -1;
    }
    
    .canvasjs-chart-container{
        z-index: -1;
    }
    .notify-bell{
        position: absolute;
        top: 0px;
        right: 0px;
        padding-right: 30px;
        padding-top: 30px;
        width: 100px;
    }
    #notify-bell-space{
        height: 80px;
    }
    .bell{
        width: 60px;
        height: 60px;
    }
    }
    