@media screen and (max-width: 1023px){
    .small-screen-flex{
        display: flex
    }
    .main-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px;
        box-sizing: border-box;
    }
    .left-content, .right-content{
        width: 100%;
        height: auto; 
        background-color: #F8F8F8;
        border-radius: 35px;
    }
    .main-content{
        width: 100%;
        height: auto;
    }
    
    #navigation{
        position: fixed;
        bottom: 0px;
        height: 100px;
        width: 100%;
        background-color: white;
        padding: 10px;
    }   
    
    #nav-flex{
        /* align-content: space-between; */
        justify-content: space-around;
    }
    
    .notify-bell{
        position: absolute;
        top: 0px;
        right: 0px;
        padding-right: 30px;
        padding-top: 30px;
        width: 100px;
    }
    
}
    